

  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="../index.html"> 
        <div class="brand-content">
            <img src="./images/everlit.png" alt="everlit icon" style="height: 60px; width: auto;">
            <div class="brand-texts">
                <span class="brand-name">Everlit</span>
                <span class="brand-tagline">Let there be light...</span>
            </div>
        </div>
    </a>       
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto" style="justify-content: center; margin-right: auto; margin-left: auto;">
          <li class="nav-item"><a href="../index.html" class="nav-link main-menu">Home</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle main-menu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
            Glow-Up</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../biopulsar.html">Biopulsar</a>
              <a class="dropdown-item" href="../success.html">Success</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle main-menu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Society
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../charities.html">Charities & Events</a>
              <a class="dropdown-item" href="../market.html">Market</a>
              <a class="dropdown-item" href="../newsletter.html">Newsletter</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle main-menu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Health
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../articles.html">Health Articles</a>
              <a class="dropdown-item" href="../nutrition.html">Nutrition</a>
              <a class="dropdown-item" href="../herbals.html">Herbals</a>
              <a class="dropdown-item" href="../lifestyle.html">Lifestyle</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle main-menu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
            Catalogue
          </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../storefront.html">Storefront</a>
              <a class="dropdown-item" href="../local.html">Local</a>
              <a class="dropdown-item" href="../donate.html">Donate</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto main-menu" style="justify-content: center; margin-right: auto; margin-left: auto;">
          <li class="nav-item cta"><a href="https://calendly.com/everlit" class="nav-link"><span>Make an Appointment</span></a></li>
        </ul>

      </div>
    </div>
  </nav>

  <!-- END nav -->